<div class="container">
  <div class="row align-items-md-center g-5 py-5 text-center">
    <h2 class="fw-bold text-body-emphasis">
      Bienvenido
    </h2>
    <h3>
      Escoja la opcion en base a su requerimiento.
      
    </h3>
  </div>

<div class="col text-center">
  <div class="row row-cols-1 row-cols-sm-2 g-4">
    <div class="col d-flex flex-column gap-2">
      <div
        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-success bg-gradient fs-4 rounded-3"
      >
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#collection"></use>
        </svg>
      </div>
      <h4 class="fw-semibold mb-0 text-body-emphasis">
        <i class="fa-solid fa-gauge-high fa-bounce icon text-success"></i>
        Registro de kilometraje
      </h4>
      <p class="text-body-success">
        Acceso a formulario para registro de kilometraje y novedades.<p>
        <button routerLink="/kilometraje" class="btn btn-success">Ingresar</button>
      </p>
     
    </div>

    <div class="col d-flex flex-column gap-2">
      <div
        class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-warning bg-gradient fs-4 rounded-3"
      >
        <svg class="bi" width="1em" height="1em">
          <use xlink:href="#gear-fill"></use>
        </svg>
      </div>
      <h4 class="fw-semibold mb-0 text-body-emphasis">
        <i
          class="fa-solid fa-gas-pump fa-flip icon"
          style="color: #f0ff1a"
        ></i>
        Registro de combustible
      </h4>
      <p class="text-body-secondary">
        Acceso al formulario de registro de combustible.<p>
        <button routerLink="/combustible" class="btn btn-warning">Ingresar</button>
      </p>
    </div>
  </div>
</div>
</div>